body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    color:deepskyblue;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

img {
    display: block;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: underline;
    color:lightcoral;
    font-weight: bold;
}

ul li a:hover {
    color: #4CAF50;
}

a {
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

h2, p {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}